.idea
eleven_labs_api/requests_old/__pycache__
eleven_labs_api/responses/__pycache__
eleven_labs_api/responses/voice_model/__pycache__
eleven_labs_api/__pycache__
eleven_labs_api/requests/__pycache__
eleven_labs_api/requests/exceptions/__pycache__
test/test_eleven_labs_api/test_requests/__pycache__
eleven_labs_api/responses/history_item_model/__pycache__
eleven_labs_api/responses/user_info_model/__pycache__
test/test_eleven_labs_api/test_responses/__pycache__
test/test_eleven_labs_api/test_responses/test_history_item_model/__pycache__
test/test_eleven_labs_api/test_responses/test_user_info_model/__pycache__
test/test_eleven_labs_api/test_responses/test_voice_model/__pycache__
test/test_eleven_labs_api/__pycache__
conversation_creator/__pycache__
test/test_conversation_creator/__pycache__
cli/__pycache__
thirdparty/comlint_py/__pycache__